/* Header */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Lato:ital,wght@1,700&display=swap');
header , footer {
  background-color: #A64500;
}
.navbar-brand {
  font-family: 'Balsamiq Sans', cursive;
 font-size: 18px;
 font-weight: 600;
}
.nav-link, .dropdown-item {
  font-family: 'Lato', sans-serif;
 font-size: 15px;
 font-weight: 500;

}
nav li {
 padding: 0 18px;
}
nav li.active, nav li.active:before {
 background-color: rgba(0, 0, 0, 0.1);
 border-radius: 5px;
}
font-family: 'Balsamiq Sans', cursive;
.carousel a:hover {
 background: rgba(255, 255, 255, 0.2);
}
div , a {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
}
